@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700&display=swap');

.header
{
  font-family: 'Cinzel Decorative', cursive; /* Set Cinzel Decorative as the default font for the body */
  background: url('./images/background.png') no-repeat center center fixed; /* Optional: Add background */
  background-size: cover; /* Optional: Cover the entire background */
  color: white;
}

.homePage, .pastPage, .presentPage, .futurePage
{
  font-family: 'Cinzel Decorative', cursive; /* Set Cinzel Decorative as the default font for the body */
  background: url('./images/background.png') no-repeat center center fixed; /* Optional: Add background */
  background-size: cover; /* Optional: Cover the entire background */
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.bg { 
  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card {
  padding: 2em;
}

.steampunk
{
  font-family: 'Steampunk', sans-serif;
}

.read-the-docs {
  color: #888;
}

.column {
  float: left;
}

.left, .right {
  width: 10%;
}

.middle {
  width: 80%;
}

